<!DOCTYPE html>
{% load staticfiles %}
<!--IMPORTAR .css-->
<!--link href="{% static 'materialize/css/materialize.css' %}" rel="stylesheet"-->
<!--IMPORTAR .js-->
<!--script src="{% static 'materialize/js/materialize.min.js' %}"></script-->
<!--BOTON Y SU DIRECCION-->
<!--a href="/admin" class="btn secondary-content">Admin</a-->
<!--IMAGEN-->
<!--img src="{% static 'img/arbolito.png' %}" /-->

<html>
    <head>

        <!--link rel="stylesheet" href="{% static 'materialLite/material.min.css' %}"-->
        <!--script src="{% static 'materialLite/material.min.js' %}"></script-->
        <!--link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"-->

        <meta charset="utf-8">
        <title>Inicio</title>
        <!--------------------------------------------------------------------------------->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Material Design Lite</title>

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="images/android-desktop.png">

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Material Design Lite">
        <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#3372DF">

        <link rel="shortcut icon" href="images/favicon.png">

        <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
        <!--
        <link rel="canonical" href="http://www.example.com/">
        -->

        <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
        <!--link rel="stylesheet" href="material.min.css"-->
        <link rel="stylesheet" href="{% static 'materialLite/material.min.css' %}">
        <!--link rel="stylesheet" href="styles.css"-->
        <link rel="stylesheet" href="{% static 'materialLite/styles.css' %}">
        <style>
        #view-source {
          position: fixed;
          display: block;
          right: 0;
          bottom: 0;
          margin-right: 40px;
          margin-bottom: 40px;
          z-index: 900;
        }
        </style>
    </head>

    <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
          <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          </div>
          <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <h1><b>INSTITUTO EUROAMERICANO HUMANITAS</b></h1>
          </div>
          <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          </div>
          <div class="mdl-grid">
              <!--a href="/" class="mdl-layout__tab is-active">General</a-->
              <a href="/" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                  Inicio
              </a>
              <!--a href="/oferta" class="mdl-layout__tab">Oferta</a-->
              <a href="/oferta" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                  Oferta
              </a>
              <!--a href="#features" class="mdl-layout__tab">Galeria</a-->
              <a href="/galeria" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                  Galeria
              </a>
              <!--a href="#features" class="mdl-layout__tab">Instalaciones</a-->
              <!--a href="#features" class="mdl-layout__tab">Contacto</a-->
              <a href="/contacto" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                  Contacto
              </a>
              <!--a href="/admin" class="mdl-layout__tab">Sistema Integral</a-->
              <a href="/admin" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                  Sistema Integral de Información
              </a>
          </div>
        </header>
        <main class="mdl-layout__content">

        </main>
      </div>
      <!--a href="https://github.com/google/material-design-lite/blob/master/templates/text-only/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a-->
      <!--script src="../../material.min.js"></script-->
      <script src="{% static 'materialLite/material.min.js' %}"></script>
    </body>
</html>
